/*Header
************************/
header {
    background: #28536B;
    color: white;
}
header h1 {
    margin: 0 auto;
}
header img {
    width: 40px;
    height: 40px;
}
header .subheading {}

button {}
/*Navigation
************************/
nav {
    background: #333;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}
nav ul li {
    display: block;
}
nav ul li a {
    text-decoration: none;
    font-size: 1.5em;
    display: block;
    padding: 15px;
    color: white;
}
.active {
    background: darkgreen;
}
nav ul li a:hover {
    background: darkgreen;
}

h2 a {
    text-decoration: none;
    color: white;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    display: none;
}

.responsive {
    display: block;
}
